<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about nike</title>
    <link rel="icon" type="image/jpg" href="/assets/icons/nike-cover.jpg">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header id="header"></header>
    <div id="aboutContent">
        <div>
    <div class="uge">WE</div>
    <div class="uge">SERVE</div>
    <div class="uge">ATHLETES</div>
    <div class="uge">*</div>

</div>
    <h3 id="athleteSlogen">Who We Are</h3>

<div id="texts">

   <div class="text">
    Nike, Inc. is a global leader in athletic footwear, apparel, and equipment. Founded in 1964 as Blue Ribbon Sports and officially becoming Nike, Inc. in 1971, the company is headquartered near Beaverton, Oregon. Inspired by the Greek goddess of victory, Nike is committed to bringing inspiration and innovation to every athlete* in the world.
   </div>
   <div class="text">
    With a diverse portfolio that includes brands like Nike, Converse, and Jordan, Nike designs products that cater to athletes of all levels. The iconic Swoosh logo and the "Just Do It" slogan embody the company's dedication to performance and excellence.
   </div>
   <div class="text">Today, Nike employs over 83,000 people worldwide and continues to lead the industry through innovation, sustainability, and community engagement.
   </div>
</div>
   <h3 id="athleteSlogen">*If you have a body, you are an athlete.</h3>

</div>
    <!-- טוען את ה header -->
  <script type="module"  src="../js/app.js" ></script>

</body>
</html>
