<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Edit Product</title>
  <link rel="icon" type="image/png" href="/assets/icons/nike-cover.jpg">

  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/editProduct.css" />

</head>
<body>
  <header id="header"></header>

  <main>
    <h1>Edit Product</h1>
    <form id="editProductForm">
      <label>
        Product Name:
        <input type="text" id="productName" name="productName" required />
      </label>
      <label>
        Description:
        <textarea id="productDescription" name="productDescription" required></textarea>
      </label>
      <label>
        Price:
        <input type="number" id="productPrice" name="productPrice" required />
      </label>
      <button type="submit">Save Changes</button>
    </form>
  </main>

  <script type="module" src="../js/editProduct.js"></script>
</body>
</html>
<!-- השאלה הבאה לגיפוש איך מעבירים דאטה  לעדכון המוצר אני רוצה שהמידע יתמלא בינפוטס -->
 <!-- ואחרי כן איך להתנהל עם העגלת קניות. נראה לי שלוקל סטורג וכזה אבל צריך שזה היהיה לוקלסטורג שמחובר ליוזר איך לנהל את זה
  לשאול את הדסה אם כל הקטע של הרשמה והתחברות צריך להיות אמיתי עם טוקן וזה - אם כן בכל בקשה לשרת צריך לשלוח טוקן -->

<!--האם אפשר להרשם ולהתחבר באותו הד0ף? כשבתגובה יש בולאני שאומר אם מנסה להתחבר או להרשם אם עוד לא נרשם - המשתמש בוחר אפשרות של להרשם -->
<!-- 026523820--<53--<1 -->