<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Product Details</title>
  <link rel="icon" type="image/png" href="/assets/icons/nike-cover.jpg">

  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/oneProduct.css" />

</head>
<body>
  <header id="header"></header>

  <main>
    <section id="product-details">
      <!-- פרטי המוצר ייטענו כאן -->

      <div class="product-actions">
        <button id="addToCartBtn">
          <img src="../assets/icons/cart-black.svg" alt="Add to Cart" />
          Add to Cart
        </button>
        <button id="editProductBtn">Edit Product</button>
        <button id="deleteProductBtn">Delete Product</button>
      </div>
    </section>
  </main>

  <script type="module" src="/js/app.js"></script>
  <script type="module" src="/js/oneProduct.js"></script>
</body>
</html>
