<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Products - Nike</title>
  <link rel="icon" type="image/png" href="/assets/icons/nike-cover.jpg">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/products.css" />
</head>
<body>
  <header id="header"></header>

  <main>
    <section class="product-list" id="product-list">
      <!-- המוצרים ייטענו כאן באמצעות JavaScript -->
    </section>
  </main>

  <script type="module" src="/js/app.js"></script>
  <script type="module" src="/js/products.js"></script>
</body>
</html>

