
<!-- אחכ אברר איך אני יכולה להציג קישורים רק לאלה שמחוברים בשביל " כל ההזמנות שלי" כדוגמה -->
<!-- gpt -->
<a class="logo" href="/index.html"><img id="headerImg" src="/assets/icons/NIKE_WHITE.png"></a>
<nav class="nav">
    <ul class="nav-links">
        <li><a href="/views/index.html">Home</a></li>
        <li><a href="/views/products.html">Products</a></li>
        <li><a href="/views/signIn.html">Sign In</a></li>
        <li><a href="/views/checkout.html">Checkout</a></li>
        <li><a href="/views/about.html">About as</a></li>
        <li><a href="https://www.nike.com/il/men">nike on the world</a></li>
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>